

<h1>Listing all 2010-2011 classes</h1>



<% i=0 %>
<% total = 0 %>
<% grade=""%>

<h1> Svitlychka</h1>
Mrs. Tunia Yearout<br />
703-430-2693<br />
PaniTunia@verizon.net 
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Svitlychka'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>


<h1>Elementary School</h1>
<% i=0 %>
<h3>Pidhotovcha</h3>
Mrs. Lida Futey-Murphy<br/>
410-647-8264<br/>
futeymurphy@comcast.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Pidhotovcha'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>Bilingual - 1</h3>
Mrs. Larissa Fontana<br/>
301-365-2490<br/>
DJFplsurg@AOL.com
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Bilingual1'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>1st Grade</h3>
Mrs. Lilia Vaichekauskus<br/>
703-671-1409<br/>
VaichekauL@usa.redcross.org
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '1'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>


<% i=0 %>
<h3>2nd Grade</h3>
Mrs. Lesia Koval<br/>
301-309-8410<br/>
lesiakov@netscape.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '2'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>Bilingual - 2</h3>
Dr. Marta Kowalczyk<br/>
703-533-9879<br/>
mkowalczyk@cox.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Bilingual2'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>3rd Grade</h3>
Mrs. Talia Cybyk<br/>
410-884-5984<br/>
cybyktz@gmail.com
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '3'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>4th Grade</h3>
Mrs. Maria Nyniuk<br/>
<br/>
svitozarnenyuk@verizon.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '4'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>5th Grade</h3>
Mrs. Olya Golovchak<br/>
410-870-2141<br/>
ogolovchak@gmail.com
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '5'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>Middle School</h1>
<h3>6th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '6'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>7th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '7'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>8th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '8'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>Middle School faculty</h1>
<h3>History</h3>
Mrs. Marika Jurach<br/>
703-864-3723<br/>
marikaju@starpower.net<br/>
<br/>

<h3>Language and Literature</h3>
Mrs. Olena Shevchenko<br/>
301-229-1220<br/>
oshevchenko@verizon.net<br/>
<br/>

<h3>Geography</h3>
Ms. Olia Kushnir<br/>
<br/>
olhakushnir@yahoo.com<br/>
<br/>

<h3>Culture</h3>
Mr. Oleh Voloshen<br/>
<br/>
verohal@ukr.net<br/>
<br/>

<h1>High School</h1>
<h3>9th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '9'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>10th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '10'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>11th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '11'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>Ukrainian Language for Adults</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'adult'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />


<h1>High School Faculty</h1>

<h3>History/Literature</h3>
Mrs. Nusia Kerda<br/>
703-780-5725<br/>
kerda@aol.com<br/>
<br/>

<h3>Culture</h3>
Ms. Olena Ftomova<br/>
202-492-7575<br/>
oftomova@hotmail.com<br/>
<br/>

<h3>Literature 9-10</h3>
Mr. Oles Bereznyj<br/>
703-534-0309<br/>
oles@berezhny.net<br/>
<br/>


<h3>Language for Matura</h3>
Mr. Theodore Caryk<br/>
301-840-1713<br/>
<br/>

<h3>Written and Spoken Ukrainian</h3>
Mrs. Olena Shevchenko<br/>
301-229-1220<br/>
oshevchenko@verizon.net<br/>
<br/>


<h1>Performing Arts, Ethics and Literacy Programming</h1>

<h3>Music grades K-11</h3>
Dr. Darka Nebesh<br/>
410-997-5382<br/>
dnebesh@hotmail.com<br/>
<br/>


<h3>Ethics and Religion</h3>
Mrs. Maria Nyniuk<br/>
<br/>
svitozarnenyuk@verizon.net
<br />
<br />
	
<h3>Ethics and Religion</h3>
Mrs. Luba Campion<br/>
<br/>
lbcampion@yahoo.com
<br />
<br />

<h3>Resource Teacher and Libraian</h3>
Mrs. Sonia Karmazyn<br/>
301-260-9630<br/>
karmazyns@yahoo.com<br/>
<br/>

<h1> Total number of students registered for 2010-2011: <%= total %> </h1>

<h1>Administration</h1>
Mrs. Renata Harmatiy<br/>
Director<br/>
410-715-5635<br/>
renyah@gmail.com<br/>
<br/>
Mr. Oleksa Breslawec<br/>
Treasurer<br/>
301-983-0168<br/>
opb9505@verizon.net<br/>
<br/>
Mrs. Olena Shevchenko<br/>
President, Batkivsky Komitet<br/>
301-229-1220<br/>
oshevchenko@verizon.net<br/>
<br/>
Mr. Francesco “Franko” Piazza<br/>
Volunteer Coordinator<br/>
703-624-7741<br/>
fp_brklyn@hotmail.com<br/>
<br/>
Mr. Theodore Caryk<br/>
Special Advisor<br/>
301-840-1713<br/>
<br/>
Mr. Roman S. Ponos<br/>
Board Member<br/>
703-867-6847<br/>
vdoma@verizon.net<br/>
<br/>
Mr. Bohdan Shevchik<br/>
Board Member<br/>
410-703-7369<br/>
bo@evropashop.com<br/>