

<h1>Listing all <%=AdminController::SchoolYear%> classes</h1>



<% i=0 %>
<% total = 0 %>
<% grade=""%>

<h1> Svitlychka</h1>
Tunia Yearout<br />
703-430-2693<br />
PaniTunia@verizon.net 
<br />
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'Svitlychka'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>


<h1>Elementary School</h1>
<% i=0 %>
<h3>Pidhotovcha</h3>
Teacher: Lida Futey-Murphy<br/>
410-647-8264<br/>
futeymurphy@comcast.net<br/><br/>
Teacher Assistant: Natalie Breslawec<br>
njb9505@verizon.net
<br />
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'Pidhotovcha'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>Bilingual - 1</h3>
Larissa Fontana<br/>
301-365-2490<br/>
DJFplsurg@AOL.com
<br />
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'Bilingual1'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>1st Grade</h3>
Teacher: Liliya Vaichekauskas<br/>
703-671-1409<br/>
VaichekauskasL@gmail.com<br />
<br/>
Teacher Assistant: Anna Shkrabaliuk<br/>
anna.shkr@gmail.com<br/>
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '1'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>


<% i=0 %>
<h3>2nd Grade</h3>
Teacher: Lesia Koval<br/>
301-309-8410<br/>
lesiakov@netscape.net<br />
<br/>
Teacher Assistant: Natalya Olson<br/>
nataliya.olson@gmail.com
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '2'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>Bilingual - 2</h3>
Contingent on enrollment
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'Bilingual2'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>3rd Grade</h3>
Marta Kulchytska<br/>
(410) 757-4920<br/>
mkulchytska@gmail.com
<br />
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '3'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>4th Grade</h3>
Liana Tsvetova<br/>
202-396-8541<br/>
lianatsv@gmail.com<br />
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '4'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>5th Grade</h3>
Teacher: Tania Iwaskiw<br/>
tli1020@gmail.com<br/><br/>
Teacher Assistant: Olya Golovchak<br/>
410-870-2141<br/>
ogolovchak@gmail.com
<br />
<br />
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '5'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>Middle School</h1>
<h3>6th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '6'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>7th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '7'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>8th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '8'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>Middle School faculty</h1>
<h3>History</h3>
Marika Jurach<br/>
703-864-3723<br/>
jurach_marika@bah.com<br/>
<br/>

<h3>Culture</h3>
Iryna Goula<br/>
703-834-0889<br/>
iryna.goula@associates.dhs.gov<br/>
<br/>

<h3>Geography</h3>
Olia Kushnir<br/>
301-226-7927<br/>
olhakushnir@yahoo.com<br/>
<br/>

<h3>Language and Literature</h3>
Oleh Voloshyn<br/>
443-315-8873<br/>
ovoloshyn@yahoo.com<br/>
<br/>

<h1>High School</h1>
<h3>9th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '9'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>10th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '10'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>11th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = '11'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>High School Faculty</h1>

<h3>History/Literature</h3>
Nusia Kerda<br/>
703-780-5725<br/>
kerda@aol.com<br/>
<br/>

<h3>Culture</h3>
Olena Ftomova<br/>
202-492-7575<br/>
oftomova@hotmail.com<br/>
<br/>

<h3>Language</h3>
Oleh Voloshyn<br/>
443-315-8873<br/>
ovoloshyn@yahoo.com<br/>
<br/>




<% adultNumberOfStudents = 0 %>
<h1>Adult Classes</h1>
<h3>Ukrainian Language for Adults - Fall</h3>
<br/>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'adultFall'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
  <%adultNumberOfStudents = adultNumberOfStudents + 1%>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />

<h3>Ukrainian Language for Adults - Spring</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'adultSpring'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%adultNumberOfStudents = adultNumberOfStudents + 1%>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />

<h3>Ukrainian Language for Adults - Fall and Spring</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => AdminController::RegistrationYearString + "and newgrade = 'adultBoth'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%adultNumberOfStudents = adultNumberOfStudents + 1%>  
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />

<h1> Registration </h1>
<h3>Total number of children registered for <%=AdminController::SchoolYear%>: <%= total - adultNumberOfStudents %> </h3>
<h3>Total number of adults registered for <%=AdminController::SchoolYear%>: <%= adultNumberOfStudents %> </h3>
<h3>Total number of students registered for <%=AdminController::SchoolYear%>: <%= total %> </h3>

<h1>Performing Arts, Ethics and Literacy Programming</h1>

<h3>Music & Performing Arts</h3>
Natalie Shkarbaliuk<br/>
natalie.shk@gmail.com<br/>
<br/>

<h3>Dance & Performing Arts</h3>
Anna Shkrabaliuk<br/>
anna.shkr@gmail.com<br/>
<br/>

<h3>Editor, Student Newsletter</h3>
Antonina Ftomova<br/>
antoninaft@mail.ru<br/>
<br/>

<h3>Read-a-thon Coordinator</h3>
Lada Onyshkevych<br/>
lada2@verizon.net<br/>
<br/>

<h3>Ukrainian for Adults</h3>
Marta Kowalczyk<br/>
mkowalczyk@cox.net<br/>
<br/>

<h3>Playgroup ages 0-3</h3>
Tanya Kuzmenko<br/>
tkuzmenko@yahoo.com<br/>
<br/>

<h1>Administration</h1>

<h3>Principal</h3>
Renata Harmatiy<br/>
(410) 715-5635<br/>
renyah@gmail.com<br/>
<br/>

<h3>Vice Principal for Lower Classes (K-5)</h3>
Liana Tsvetova<br/>
 lianatsv@gmail.com<br/>
<br/>

<h3>Vice Principal for Upper Classes (6-11)</h3>
Marika Jurach<br/>
jurach_marika@bah.com<br/>
<br/>

<h3>President, Batkivsky Komitet</h3>
Sarah Tweed<br/>
(703) 860-1061<br/>
olehsarah@verizon.net<br/>
<br/>

<h3>Treasurer</h3>
Oleksa Breslawec<br/>
(301) 983-0168<br/>
opb9505@verizon.net<br/>
<br/>

<h3>Volunteer Coordinator</h3>
Julian Zahalak<br/>
(301) 251-5270<br/>
julianzahalak@yahoo.com<br/>
<br/>


<h3>Board Members</h3>
Andrew Sloniewsky<br/>
(703) 528-4626<br/>
amsloniewsky@verizon.net<br/>
<br/>

Bohdan Shevchik<br/>
(410) 703-7369<br/>
bo@evropashop.com<br/>
<br/>