

<h1>Listing all 2010-2011 classes</h1>



<% i=0 %>
<% total = 0 %>
<% grade=""%>

<h1> Svitlychka</h1>
Tunia Yearout<br />
703-430-2693<br />
PaniTunia@verizon.net 
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Svitlychka'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>


<h1>Elementary School</h1>
<% i=0 %>
<h3>Pidhotovcha</h3>
Lida Futey-Murphy<br/>
410-647-8264<br/>
futeymurphy@comcast.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Pidhotovcha'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>Bilingual - 1</h3>
Larissa Fontana<br/>
301-365-2490<br/>
DJFplsurg@AOL.com
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Bilingual1'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>1st Grade</h3>
Lilia Vaichekauskus<br/>
703-671-1409<br/>
VaichekauL@usa.redcross.org
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '1'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>


<% i=0 %>
<h3>2nd Grade</h3>
Lesia Koval<br/>
301-309-8410<br/>
lesiakov@netscape.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '2'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>Bilingual - 2</h3>
Marta Kowalczyk<br/>
703-533-9879<br/>
mkowalczyk@cox.net
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'Bilingual2'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>3rd Grade</h3>
Talia Cybyk<br/>
410-884-5984<br/>
cybyktz@gmail.com
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '3'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>4th Grade</h3>
Maria Nyniuk<br/>
202-396-8541<br/>
svitozarnenyuk@verizon.net<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '4'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<% i=0 %>
<h3>5th Grade</h3>
Olya Golovchak<br/>
410-870-2141<br/>
ogolovchak@gmail.com
<br />
<br />
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '5'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>Middle School</h1>
<h3>6th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '6'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>7th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '7'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>8th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '8'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>Middle School faculty</h1>
<h3>History</h3>
Marika Jurach<br/>
703-864-3723<br/>
marikaju@starpower.net<br/>
<br/>

<h3>Language and Literature</h3>
Olena Shevchenko<br/>
301-229-1220<br/>
oshevchenko@verizon.net<br/>
<br/>

<h3>Geography</h3>
Olia Kushnir<br/>
301-226-7927<br/>
olhakushnir@yahoo.com<br/>
<br/>

<h3>Culture</h3>
Oleh Voloshen<br/>
443-315-8873<br/>
verohal@ukr.net<br/>
<br/>

<h1>High School</h1>
<h3>9th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '9'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>10th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '10'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h3>11th Grade</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = '11'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>

<h1>High School Faculty</h1>

<h3>History/Literature</h3>
Nusia Kerda<br/>
703-780-5725<br/>
kerda@aol.com<br/>
<br/>

<h3>Culture</h3>
Olena Ftomova<br/>
202-492-7575<br/>
oftomova@hotmail.com<br/>
<br/>

<h3>Literature 9-10</h3>
Oles Bereznyj<br/>
703-534-0309<br/>
oles@berezhny.net<br/>
<br/>


<h3>Language for Matura</h3>
Theodore Caryk<br/>
301-840-1713<br/>
<br/>

<h3>Written and Spoken Ukrainian</h3>
Olena Shevchenko<br/>
301-229-1220<br/>
oshevchenko@verizon.net<br/>
<br/>

<% adultNumberOfStudents = 0 %>
<h1>Adult Classes</h1>
<h3>Ukrainian Language for Adults - Fall</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'adultFall'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%total = total + 1 %>
  <%adultNumberOfStudents = adultNumberOfStudents + 1%>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />

<h3>Ukrainian Language for Adults - Spring</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'adultSpring'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%adultNumberOfStudents = adultNumberOfStudents + 1%>
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />

<h3>Ukrainian Language for Adults - Fall and Spring</h3>
<% i=0 %>
<% @students = Student.find(:all, :conditions => "registration_year = '2010-2011' and newgrade = 'adultBoth'", :order => :lastname)
%>
<% for student in @students %>
  <%=h student.lastname %>, <%=h student.firstname %><br/>
  <% i = i + 1 %>
  <%adultNumberOfStudents = adultNumberOfStudents + 1%>  
  <%total = total + 1 %>
<% end %>
<br/>
Number of Students:  <%= i %>
<br />

<h1> Registration </h1>
<h3>Total number of children registered for 2010-2011: <%= total - adultNumberOfStudents %> </h3>
<h3>Total number of adults registered for 2010-2011: <%= adultNumberOfStudents %> </h3>
<h3>Total number of students registered for 2010-2011: <%= total %> </h3>

<h1>Performing Arts, Ethics and Literacy Programming</h1>

<h3>Music grades K-11</h3>
Darka Nebesh<br/>
410-997-5382<br/>
dnebesh@hotmail.com<br/>
<br/>


<h3>Ethics and Religion</h3>
Maria Nyniuk<br/>
202-396-8541<br/>
svitozarnenyuk@verizon.net
<br />
<br />
	
<h3>Ethics and Religion</h3>
Luba Campion<br/>
301-871-2352<br/>
lbcampion@yahoo.com
<br />
<br />

<h3>Resource Teacher and Libraian</h3>
Sonia Karmazyn<br/>
301-260-9630<br/>
karmazyns@yahoo.com<br/>
<br/>

<h1>Administration</h1>

<h3>Principal</h3>
Renata Harmatiy<br/>
(410) 715-5635<br/>
renyah@gmail.com<br/>
<br/>

<h3>Vice Principal</h3>
Andrea Bilaniuk<br/>
(703)272-3979<br/>
ivandrea@cox.net<br/>
<br/>

<h3>President, Batkivsky Komitet</h3>
Sarah Tweed<br/>
(703) 860-1061<br/>
olehsarah@verizon.net<br/>
<br/>

<h3>Treasurer</h3>
Oleksa Breslawec<br/>
(301) 983-0168<br/>
opb9505@verizon.net<br/>
<br/>

<h3>Volunteer Coordinator</h3>
Julian Zahalak<br/>
(301) 251-5270<br/>
julianzahalak@yahoo.com<br/>
<br/>


<h3>Board Members</h3>
Andrew Sloniewsky<br/>
(703) 528-4626<br/>
amsloniewsky@verizon.net<br/>
<br/>

Bohdan Shevchik<br/>
(410) 703-7369<br/>
bo@evropashop.com<br/>
<br/>