<h1> Change Password for: <%= @user.family%>  </h1>

<% form_for :user, @user, :url => {:action => 'updatePassword', :id => @user} do |f| %>
  <%= f.error_messages %>
  
<table>
	<tr>
		<td><%= f.label :user_password, 'New Password' %></td>
		<td><%= f.password_field :password, :size => 40 %></td>
	</tr>
	<tr>
		<td><%= f.label :user_password_confirmation, 'Confirm New Password' %></td>
		<td><%= f.password_field :password_confirmation, :size => 40 %></td>
</table>
    <%= f.submit "UpdatePassword" %>
  </p>
<% end %>

<%= render(:partial=> "cancel") %>