<h1><%=h @current_user.family %>  </h1>
Login Account: <%=h @current_user.login %>
<h3>Primary Contact Information </h3>
<% if @current_user.apt != "" %>	
	Apt: <%=h @current_user.apt %> <br>
<% end %>
<%=h @current_user.street %><br>
<%=h @current_user.city %>, <%=h @current_user.state%> <%=h @current_user.zip %>
<p>
<%=h @current_user.email %>
<br>
<%=h @current_user.phonenum %><p>
	
	<% if @current_user.paperaddressbook %>
		You have agreed to have your information included in the school hardcopy address book.<br>
	<% else %> 
		You have not agreed to have your information included in the school printed address book.<br>
	<% end %>
	<% if @current_user.onlineaddressbook %>
		You have agreed to let all registration site accounts access your family's contact information using this site.<br>
	<% else %> 
		You have not agreed to let all registration site accounts access your family's contact information using this site.<br>
	<% end %>
	



<h1>Your Children</h1>

<table>
	<tr>
    <th>Last</th>
    <th>First</th>
    <th>Middle</th>
    <th>Allergies</th>
    <th>Gender</th>
    <th>Grade</th>
    <th>Birthdate</th>
	<th>Registration Year </th>
  </tr>

<% @current_students = Student.find_all_by_userid( @current_user.userid, :order => :firstname) %>
<% for student in @current_students %>
	<tr>
	  <td><%=h student.lastname %></td>
	  <td><%=h student.firstname %></td>
	  <td><%=h student.middlename %></td>
	  <td><%=h student.allergies %></td>
	  <td><%=h student.gender %></td>
	  <td><%=h student.newgrade %></td>
	  <td><%=h student.birthdate %></td>
	  <td><%=h student.registration_year %></td>	  
	</tr>
<% end %>
</table>


<h1>Billing Information</h1>
<% if @current_user.num_of_children > 0 %>
<table>
<% if @current_user.num_in_svitlychka > 0 %>
<tr>
  <td>Number children enrolled in Svitlychka: </td>
  <td><%= @current_user.num_in_svitlychka%></td>
</tr>
<tr>
  <td>Tuition due Svitlychka: </td>
  <td><%= number_to_currency(@current_user.num_in_svitlychka * 400) %></td>
</tr>
<% end%>
  <tr>
    <td>Number children enrolled in Ukrainian School and Svitlychka: </td> 
    <td><%= @current_user.num_of_children %> </td>
  </tr>

  <tr>
    <td>Tuition due Ukrainian School: </td>
    <td><%= number_to_currency(@current_user.calc_amount_due) %></td>
  </tr>

  <tr>
    <td>Amount Paid to Ukrainian School: </td>
    <td><%= number_to_currency(@current_user.calc_amountpaid) %></td>
  </tr>
  <tr>
    <td>Current Balance due Ukrainian School: </td>
    <td><%= number_to_currency(@current_user.calc_balance) %></td>
  </tr>
</table>
<%end%>


<h1> Parents </h1>

<table>
	<tr>
	<th>Relation</th>
    <th>Last</th>
    <th>First</th>
	<th>Middle</th>
    <th>Daytime phone</th>
    <th>Evening phone</th>
    <th>Cell phone</th>
    <th>Email</th>
    <th>Profession</th>
    <th>Hobbies</th>
    <th>Volunteer</th>
  </tr>

<% @current_parents = Parent.find_all_by_userid( @current_user.userid, :order => :firstname) %>
<% for parent in @current_parents %>
	<tr>
	  <td><%=h parent.relationship %></td>
	  <td><%=h parent.lastname %></td>
	  <td><%=h parent.firstname %></td>
	  <td><%=h parent.middlename %></td>
	  <td><%=h parent.dayphone %></td>
	  <td><%=h parent.evephone %></td>
	  <td><%=h parent.cellphone %></td>	
	  <td><%=h parent.email %></td>
	  <td><%=h parent.profession %></td>
	  <td><%=h parent.hobbies %></td>	
	  <td><%=h parent.volunteerinterest %></td>  
	</tr>
<% end %>
</table>

<h1> Emergency Contacts </h1>
<table>
	<tr>
    <th>Last Name</th>
    <th>First Name</th>
    <th>Relationship</th>
    <th>Primary Phone</th>
    <th>Alternate Phone</th>
    <th>Cell Phone</th>
  </tr>
<% @current_contacts = Emergency.find_all_by_userid( @current_user.userid, :order => :lastname) %>
<% for contact in @current_contacts %>
	<tr>
	  <td><%=h contact.lastname %></td>
	  <td><%=h contact.firstname %></td>
    <td><%=h contact.relationship %></td>	  
	  <td><%=h contact.dayphone %></td>
	  <td><%=h contact.evephone %></td>
	  <td><%=h contact.cellphone %></td>
	</tr>
<% end %>
</table>