<h1>Listing all Users Registered for 2010-2011 School Year</h1>

<table>
  <tr>
    <th>Family</th>
    <th>Login</th>
	<th>Amt Due</th>
	<th>Amt Paid </th>
	<th>Balance </th>
	<th>Svitlychka</th>
	<th>NumInSvitlychka</th>
	<th>NumInRidnaShkola</th>
  </tr>
<% i = 0 %>
<% studentsInShkola = 0%>
<% studentsInSvitlychka = 0%>
<% for user in @users %>
	<% student = Student.find_by_userid( user.userid, :order => :firstname) %>

	<% if student != nil && student.registration_year == "2010-2011" %>
	<% i = i + 1 %>
  <tr>
    <td><%=h user.family %></td>
    <td><%=h user.login %></td>
	<td><%= number_to_currency(user.calc_amount_due) %></td>
	<td><%=h number_to_currency(user.calc_amountpaid) %></td>
	<td><%=h number_to_currency(user.calc_balance) %></td>
	<td><%=h number_to_currency(user.num_in_svitlychka * 400) %></td>
    <td><%=h user.num_in_svitlychka %></td>
    <td><%=h user.num_of_children - user.num_in_svitlychka %></td>
  </tr>
	<% studentsInShkola = studentsInShkola + user.num_of_children - user.num_in_svitlychka %>
	<% studentsInSvitlychka = studentsInSvitlychka + user.num_in_svitlychka %>
<%end%>
<% end %>
</table>

<br />
<h3> Total number of users: <%= i %></h3>
<h3> Students in Ridna Shkola: <%= studentsInShkola %></h3>
<h3> Students in Svitlychka: <%= studentsInSvitlychka %></h3>

