<h1>Listing Number of Families Registered for <%=AdminController::SchoolYear%> School Year by zipcode</h1>
<table>
  <tr>
    <th>Zipcode</th>
    <th>NumFamilies</th>
  </tr>

<% zipcode = "none" %>
<% numInZipcode = 0 %>
<% for user in @users %>
	<% student = Student.find_by_userid( user.userid, :order => :firstname) %>

	<% if student != nil && student.registration_year == AdminController::SchoolYear %>
		<% if user.zip != zipcode %>
		<tr>
	    	<td><%=h zipcode %></td>
	    	<td><%=h numInZipcode %></td>
	  	</tr>			
			<% zipcode = user.zip %>
			<% numInZipcode = 0 %>
		<%end%>
		<% numInZipcode = numInZipcode + 1 %>
	<%end%>
<%end%>
<tr>
	<td><%=h zipcode %></td>
	<td><%=h numInZipcode %></td>
</tr>
</table>