<h1>Listing Number of Families Registered for <%=AdminController::SchoolYear%> School Year by State</h1>
<table>
  <tr>
    <th>State</th>
    <th>NumFamilies</th>
  </tr>

<% state = "none" %>
<% numInState = 0 %>
<% for user in @users %>
	<% student = Student.find_by_userid( user.userid, :order => :firstname) %>

	<% if student != nil && student.registration_year == AdminController::SchoolYear %>
		<% if user.state != state %>
		<tr>
	    <td><%=h state %></td>
	    <td><%=h numInState %></td>
	  </tr>
			<% state = user.state %>
			<% numInState = 0 %>
		<%end%>
		<% numInState = numInState + 1 %>
	<%end%>
<%end%>
<tr>
  <td><%=h state %></td>
  <td><%=h numInState %></td>
</tr>
</table>


