<h1>Editing checks</h1>

<% form_for(@check) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :checknumber %><br />
    <%= f.text_field :checknumber %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>


<%= render(:partial=> "cancel") %>
